<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<title>Shopping Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<header class="main-header">
		<div class="container">
			<nav>
				<ul class="main-list">
					<li><a href="/">Shop</a></li>
					<li><a href="/admin/add-product">Add Product</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<main>
			<h1>My Products</h1>
			<p>List of all the products</p>
		</main>
	</div>
</body>
</html>